* {
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
  height: 50px;
}

#icon {
  position: absolute;
  height: 40px;
  top: 5px;
  left: 5%;
  /* margin-right: 0%; */
}

.app {
  background-image: url("../public/book.jpg");
/* overflow: hidden; */
 background-size: cover;
 /* background-attachment: fixed; */
  color: rgb(42, 117, 229);
  height: 100vh;
 
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  background-color: rgb(36, 192, 153);
}
.li{
  font-size: medium;
}