* {
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items:flex-end;
  list-style: none;
  margin-bottom: 50px;
  height: 50px;
  
}
.book{
  text-align: left;
  margin-left: 70%;
  margin-right: 10%;
}

#icon {
  position: absolute;
  height: 40px;
  top: 5px;
  left: 5%;
  /* margin-right: 0%; */
}

.app {
  background-image: url('../public/book2.jpg');
  
/* overflow: hidden; */
 background-size: cover;
 /* background-attachment: fixed; */
  color: blue;
  height: 100vh;
  opacity: .8;
  
}
.login{
  text-align: left;
  margin-left: 70%;
  margin-right: 10%;
}
.signup{
  text-align: left;
  margin-left: 70%;
  margin-right: 10%;

}

form {
  text-align: center;
   
}
.contact{
  text-align: left;
  margin-left: 70%;
  margin-right: 10%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  background-color: rgb(162, 5, 23);
  color: rgb(62, 1, 115);
}
.li{
  font-size: medium;
}